// http://ionicframework.com/docs/theming/
// https://github.com/subinsebastian/uigradients-scss
// https://robferguson.org/blog/2017/11/12/theming-your-ionic-3-app/
myapp {
    #cabecalho-menu .item-inner {
        border: none;
    }
    .cabecalho-menu {
        background-image: url('../assets/imgs/material-design-background.jpg');
        height: 150px;
        margin-bottom: 10px;

        ion-avatar img {
            width: 85px;
            height: 85px;
        }

        h2 {
            color: white;
            font-weight: bold;
        }

        p {
            color: #eee;
        }
    }
}